@import '~@angular/material/theming';

@include mat-core();

$gendalf-app-primary: mat-palette($mat-deep-purple);
$gendalf-app-accent: mat-palette($mat-pink, A200, A100, A400);
$gendalf-app-warn: mat-palette($mat-red);

$gendalf-app-theme: mat-light-theme($gendalf-app-primary, $gendalf-app-accent, $gendalf-app-warn);

@include angular-material-theme($gendalf-app-theme);

// slide toggle
.mat-slide-toggle-bar {
    background-color: rgba(33, 33, 33, 0.5);
}

.mat-slide-toggle-bar-dark {
    color: #fff;

    @include mat-slide-toggle-theme ($gendalf-app-theme);

    .mat-slide-toggle-bar {
        background-color: rgba(255, 255, 255, 0.3);
    }
}
