@import '~@angular/material/theming';
@import 'md-palette';
@import 'variables';

@include mat-core();

$gendalf-app-primary: mat-palette($md-primary-palette);
$gendalf-app-accent: mat-palette($md-yellow-palette);
$gendalf-app-warn: mat-palette($md-error-palette);

$gendalf-app-theme: mat-light-theme(
	$gendalf-app-primary,
	$gendalf-app-accent,
	$gendalf-app-warn
);
// DEFAULT LIGHT THEMING
@include angular-material-theme($gendalf-app-theme);

// DARK THEMING
$gendalf-app-theme-dark: mat-dark-theme($gendalf-app-primary, $gendalf-app-accent, $gendalf-app-warn);

.radio-group__radio-button--dark-theme {
	@include mat-radio-theme ($gendalf-app-theme-dark);
	&.mat-radio-disabled {
		& .mat-radio-inner-circle {
			background-color: $color-white-30;
		}
		&.mat-radio-checked .mat-radio-outer-circle,
		.mat-radio-outer-circle {
			border-color: $color-white-30;
		}
	}
}

.mat-slide-toggle-bar-dark {
	@include mat-slide-toggle-theme($gendalf-app-theme-dark);

	.mat-slide-toggle-bar {
		background-color: $color-white-30;
	}
}

